body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.side {
    flex: 1;
    padding: 20px;
    text-align: center;
    position: relative;
}

.left {
    background: #e8f4ff;
}

.right {
    background: #ffecec;
}

/* Разделитель */
.divider {
    width: 12px;
    background: repeating-linear-gradient(
        to bottom,
        #000,
        #000 12px,
        transparent 12px,
        transparent 24px
    );
}

.leader img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #333;
}

.leader h2 {
    margin-top: 10px;
    font-size: 22px;
}

.members {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 25px; /* горизонтальный отступ */
    row-gap: 40px; /* вертикальный отступ между строками */
    flex-wrap: wrap; /* чтобы кружки переносились */
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 90px;
    height: 90px;
    background: #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    background-size: cover;
    background-position: center;
}

.circle:hover {
    transform: scale(1.1);
}

.member-name {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: center;

    /* фиксируем высоту под две строки */
    height: 32px; /* можно увеличить до 36–40px */
    line-height: 16px; /* высота строки */
}


.member:hover {
    transform: scale(1.1);
}

/* Модальное окно */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.modal-content {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    animation: scaleIn 0.3s;
}

@keyframes scaleIn {
    from {transform: scale(0.7);}
    to {transform: scale(1);}
}

.modal-content img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #333;
}

.modal-content h2 {
    margin-top: 15px;
    font-size: 24px;
}







